<a href="https://colab.research.google.com/github/ElCbolla/CursoDeProgramacionPython/blob/main/(1.5)Modulo_Impresion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **En python podemos mostrar informacion en la salida mediante la funcion `print()`, esta funcion cumple con el mismo objetivo que el algoritmo `"Escribir"` en pseint.**

* **La estructura de ambas funciones es bastante similar, en ambas debes empezar con el nombre de la funcion y despues el dato que deseas mostrar en la salida del programa.**

---
* En pseint :

![image.png]()


---

* En python :



```
print(DatoAImprimir)
```

Al analizar ambas estructuras puedes notar que el algoritmo `"Escribir`" en python se traduce a `"print"` y en el contexto de python debes continuar con un par de parentesis `()`, Dentro de estos parentesis ya puedes imprimir el dato que desees.

***Ejemplo- 1***:

**Imprimir un dato tipo `{str}` o texto, que vimos anteriormente que este tipo se define cuando el texto esta dentro de unas comillas `" "`** :

In [1]:
print("Hola")

Hola



---

***Ejemplo-2:***

**imprimir un dato tipo `{int}` o entero, que vimos anteriormente que este tipo de dato se define cuando se trata de un valor numerico entero sin decimales.**

In [2]:
print(5)

5



---

***Ejemplo-3:***

**imprimir un dato tipo `{float}` o decimal, que vimos anteriormente que este tipo de dato se define cuando se trata de un valor numerico con decimales.**

In [ ]:
print(2.5)

---

***Ejemplo-4:***

**imprimir un dato tipo `{bool}` o logico, que vimos anteriormente que este tipo de dato se define cuando se trata de un (`True` o `False`).**

In [4]:
print(True)

True

In [5]:
print(False)

False



---

**Al igual que podemos imprimir valores ingresandolos directamente dentro de los parentesis especificando previamente el tipo de dato, tambien se puede lograr haciendolo de manera indirecta.**

* Esto se logra al imprimir el nombre de una variable ya previamente definida.



---
***Ejemplo-1 :***

In [6]:
NombreDeLaVariable = 10 #Recordemos que las variables tipo entero son aquello valores numericos sin decimales.

print(NombreDeLaVariable)

10

**En el anterior ejemplo vemos que el programa retorna el valor entero** ` (int)` : `{10}`, esto se debe a que nuestra variable` NombreDeLaVariable` almacena el valor entero `{int}` de `10`, y al imprimir muestra el valor asignado a nuestra variable.



---
***Ejemplo-2 :***

**Si por ejemplo en nuestra variable se almacenara un valor tipo Texto o `{str}` esto es lo que sucederia :**

In [8]:
VariableTipoTexto = "Texto" #Recordemos que las variables tipo texto son aquellas que tienen comas.

print(VariableTipoTexto)

Texto

**Esto nos imprime el valor asignado a nuestra variable `VariableTipoTexto`, que este en caso es de dato tipo texto o `{str}` : `"Texto"`**



---
***Ejemplo-3 :***


**Ahora probemos con una variable que posea un dato tipo decimal o `{float}`, aplicando lo anteriormente visto.**

In [9]:
VariableTipoDecimal = 2.5 #Recordemos que las variables tipo decimal son aquellos valores numericos con decimales.

print(VariableTipoDecimal)

2.5




---


***Ejemplo-4 :***

**Finalmente probemos imprimir un dato tipo logico `{bool}`, que recordemos que los valores logicos son `True` y `False`.**

In [10]:
VariableBooleana = True

print(VariableBooleana)

True

#**Preguntas acerca del print().**



---


1. `Que mensaje retornara el siguiente codigo y que tipo de dato almacena la variable?`

In [ ]:
Variable = "Hola"

print(Variable)



---

2. `Que mensaje retornara el siguiente codigo y que tipo de dato almacena la variable?`

In [ ]:
Variable = 12

print(Variable)



---


3. `Que mensaje retornara el siguiente codigo y que tipo de dato almacena la variable?`

In [ ]:
Variable = "12"

print(Variable)

---


4. `Que mensaje retornara el siguiente codigo y que tipo de dato almacena la variable?`

In [ ]:
Variable = True

print(Variable)

---


5. `Que mensaje retornara el siguiente codigo y que tipo de dato almacena la variable?`

In [ ]:
Variable = 2.2

print(Variable)

---


6. `Que mensaje retornara el siguiente codigo y que tipo de dato almacena la variable?`

In [ ]:
Variable = False

print(Variable)



---


7. `Que mensaje retonara el siguiente codigo?`
* `Que tipo de dato almacena Variable1`
* `Que tipo de dato almacena Variable2`

In [ ]:
Variable1 = 25
Variable2 = "Tamales"

print(Variable2)



---


8. `Que mensaje retonara el siguiente codigo?`
* `Que tipo de dato almacena Variable1`
* `Que tipo de dato almacena Variable2`

In [ ]:
Variable1 = False
Variable2 = 12.2

print(Variable1)

---


9. `Que mensaje retonara el siguiente codigo?`
* `Que tipo de dato almacena Variable1`
* `Que tipo de dato almacena Variable2`

In [ ]:
Variable1 = "Hola"
Variable2 = 1.0

print(Variable2)

---


10. `Que mensaje retonara el siguiente codigo?`
* `Que tipo de dato almacena Variable1`
* `Que tipo de dato almacena Variable2`

In [ ]:
Variable1 = "Hola"
Variable2 = "Arroz"

print(Variable1)

---


11. `Que mensaje retonara el siguiente codigo?`
* `Que tipo de dato almacena Variable1`
* `Que tipo de dato almacena Variable2`
* `Que tipo de dato almacena Variable3`

In [ ]:
Variable1 = "Hola"
Variable2 = True
Variable3 = 10.0

print(Variable3)

---


12. `Que mensaje retonara el siguiente codigo?`
* `Que tipo de dato almacena Variable1`
* `Que tipo de dato almacena Variable2`
* `Que tipo de dato almacena Variable3`

In [11]:
Variable1 = False
Variable2 = 5
Variable3 = 2.2

print(Variable2)

5

# **Problemas relacionados a la impresion de mensajes.**