<a href="https://colab.research.google.com/github/ElCbolla/CursoDeProgramacionPython/blob/main/M%C3%B3dulo_1_Operadores_Numericos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operadores aritmeticos en python**

Los operadores aritmeticos en python se definen mediante los simbolos convencionales de la aritmetica. Suma : `( + )` , Resta : `( - )` , Multiplicacion : `( * )` , Division : `( / )` , Potenciacion : `( ** )`

***Ejemplo de operadores.***

In [3]:
print(5+2) #Suma entre dos numeros enteros {int}.

7

In [4]:
print(7.0+2.5) #Suma entre dos numeros con decimales {float}.

9.0

In [5]:
print(7 - 2) #Resta entre dos enteros {int}.

5

In [ ]:
print(2.0-2.5) #Resta entre dos numeros con decimales {float}.

In [6]:
print(4 * 2) #Multiplicacion entre dos numeros enteros {int}.

8

In [7]:
print(2.0 * 2.5) #Multiplicacion entre dos numeros con decimales {float}.

5.0

In [8]:
print(2/2) #Division entre dos numeros enteros {int}.

4

In [9]:
print(5.2/5.1) #Division entre dos numeros con decimales {float}.

1.019607843137255

In [10]:
print(2**2) #Potencia entre dos numeros enteros (Dos al cuadrado) {int}.

4

In [ ]:
print(2.5**1.2) #Potencia entre dos numeros decimales {int}.

# **Los valores logicos** `{bool}` **tambien almacenan un valor entero. [El valor `True` contiene un 1 y el `False` un 0 Como el sistema binario.]**

In [25]:
print(True + True) #Suma entre dos datos logicos {bool}

2

In [26]:
print(True - False) #Resta entre dos datos logicos {bool}

1

In [27]:
print(True * False) #Multiplicacion entre dos datos logicos {bool}

1

In [28]:
print(True/True) #Multiplicacion entre dos datos logicos {bool}

1.0

In [29]:
print(True**False) #Potenciacion entre dos datos logicos {bool}

1

# **Tabla de ejemplos de operadores aritmeticos.**

In [32]:
import pandas as pd


data = {
    "Operador": ["+", "-", "*", "/", "**"],
    "Descripcion": [
        "Suma",
        "Resta",
        "Multiplicación",
        "División entera",
        "Potencia"
    ],
    "Ejemplo": [
        "5 + 3 = 8",
        "5 - 3 = 2",
        "5 * 3 = 15",
        "5 / 2 = 2.5",
        "5 ** 2 = 25"
    ],
    "Ejemplos (Datos logicos)": ["True + True = 2","False - False = 0"," True * True = 1","True/True = 1","True**True = 1"]
}


tabla = pd.DataFrame(data)

tabla

  Operador      Descripcion      Ejemplo Ejemplos (Datos logicos)
0        +             Suma    5 + 3 = 8          True + True = 2
1        -            Resta    5 - 3 = 2        False - False = 0
2        *   Multiplicación   5 * 3 = 15          True * True = 1
3        /  División entera  5 / 2 = 2.5            True/True = 1
4       **         Potencia  5 ** 2 = 25           True**True = 1

# **Es importante saber que las variables numericas tambien se pueden operar siempre y cuando tengan un valor entero, decimal o logico**.

Primero debemos definir dos nombres para nuestras variables como por ejemplo `Variable1` y `Variable2` despues debemos asignarles un valor entero `{int}` o decimal `{float}` o ` {bool}`.

*Ejemplo-1 (Con numeros enteros `{int}`):*

In [24]:
Variable1 = 10
Variable2 = 20

print(Variable1 + Variable2)

30

*Ejemplo-2* (Con numeros decimales ` {float}`) :

In [15]:
Variable1 = 10.0
Variable2 = 2.2

print(Variable1 + Variable2)

12.2

In [33]:
Variable1 = True
Variable2 = False

print(Variable1 - Variable2)

1

# **Preguntas de operadores aritmeticos.**

1. `   El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`
2. Que tipo de dato es `Variable2` ?

3. Que tipo de dato es `Variable1` ?

In [19]:
Variable1 = "10"

Variable2 = 10

print(Variable1 + Variable2)

TypeError: can only concatenate str (not "int") to str



1. `   El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`
2.   Que tipo de dato es `Variable1`?
3. Que tipo de dato es `Variable2`?

In [34]:
Variable1 = True
Variable2 = 5

print(Variable1 + Variable2)

6

1. `   El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`
2.   Que tipo de dato es `Variable1`?
3. Que tipo de dato es `Variable2`?

In [ ]:
Variable1 = 10 + 2

Variable2 = 2.1

print(Variable1 + Variable2)

1. `   El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`
2.   Que tipo de dato es `Variable1`?
3. Que tipo de dato es `Variable2`?
4. En caso de que creas que retorne algo especifica el tipo de dato que retornara.

In [36]:
Variable1 = 2.2
Variable2 = 4

print(Variable2 - Variable1)
print(type(Variable2 - Variable1))

1.7999999999999998
<class 'float'>

1. `   El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`
2.   Que tipo de dato es `Variable1`?
3. Que tipo de dato es `Variable2`?
4. En caso de que creas que retorne algo especifica el tipo de dato que retornara.

In [39]:
Variable1 = 2.0 + 2
Variable2 = "True"

print(Variable2 - Variable1)
print(type(Variable2 - Variable1))

TypeError: unsupported operand type(s) for -: 'str' and 'float'

1. `   El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`
2.   Que tipo de dato es `Variable1`?
3. Que tipo de dato es `Variable2`?
4. En caso de que creas que retorne algo especifica el tipo de dato que retornara.

In [40]:
Variable1 = 10 + True
Variable2 = False

print(Variable1 * Variable2)
print(type(Variable1 * Variable2))

0
<class 'int'>

1. `   El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`
2.   Que tipo de dato es `Variable1`?
3. Que tipo de dato es `Variable2`?
4. En caso de que creas que retorne algo especifica el tipo de dato que retornara.

In [42]:
Variable1 = True
Variable2 = False

print(Variable1/Variable2)
print(type(Variable1/Variable2))

ZeroDivisionError: division by zero

#**Problemas asociados a operadores numericos**