<a href="https://colab.research.google.com/github/ElCbolla/CursoDeProgramacionPython/blob/main/(3)M%C3%B3dulo_1_Operadores_De_texto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Operadores aritmeticos en textos Python**

Los textos o datos tipo `{str}` tambien son compatibles con algunos operadores aritmeticos, en este contexto se puede utilizar Suma `(+)` y Multiplicacion `(*)`

***Algunos ejemplos en el contexto de operadores aritmeticos aplicados a Texto o datos tipo `{str}` :***

En el siguiente ejemplo se aplica lo que se le llama **concatenacion** en programacion, esto basicamente se basa en juntar dos o mas cadenas de texto de tipo : `{str}`, formando un solo texto mediante el conjunto de textos dados.

In [ ]:
#La siguiente linea de codigo generara una concatenacion entre el texto ("Hola") y el texto ("Como estas").
print("Hola" + "Como estas?")

HolaComo estas?

Es importante aclarar que puedes concatenar la cantidad de cadenas de texto que quieras :

Y tambien se puede concatenar por medio de variables.

In [ ]:
print("a" + "b" + "c" + "d")

abcd

In [ ]:
VariableDeTexto1 = "Que"

VariableDeTexto2 = "So"

print(VariableDeTexto1 + VariableDeTexto2)

QueSo

Existen dos tipos de concatenaciones, la primera es mediante el operador aritmetico de suma `(+)` , con este metodo solo se pueden concatenar dos datos de tipo `{str}`.

Si se aplica la concatenacion mediante una suma `(+)` entre un dato tipo `{str}` y un dato `{int}` esto generara un error, como se muestra a continuacion :

In [ ]:
print("Hola" + 1)

TypeError: can only concatenate str (not "int") to str

Si necesitamos concatenar un dato de tipo `{str}`, con un dato entero `{int}`, o decimal `{float}`, o booleano `{bool}` ocupamos hacerlo mediante una coma `( , )` de esta forma la concatenacion se puede realizar con casi cualquier tipo de dato.

***Ejemplo :***

In [ ]:
print("Tu dinero ahorrado es : ", 5)

Tu dinero ahorrado es :  5

De esta misma manera puedes concatenar textos con decimales o booleanos.

***Mas ejemplos :***

In [ ]:
print("Tu estatura es de : ", 1.65)

Tu estatura es de :  1.65

In [ ]:
print("Tu valor booleano es : ", True)

TypeError: can only concatenate str (not "bool") to str

Una gran diferencia que hay entre concatenar con `( + )` y concatenar con `( , )` es que al concatenar con `( + )` La salida dara el resultado de la concatenacion sin espacio como por ejemplo :



```
print( "Que" + "so" )
```


```
# Salida ➡ Queso
```

Pero si la concatenacion se hiciera por medio de un` ( , )` :

```
print( "Que" , "so" )
```


```
# Salida ➡ Que so
```

Es importante aclarar que todos los ejemplos anteriores si se hubieran hecho mediante una **concatenacion** de suma `( + )` hubieran generado un error.

El simbolo ` ( , )` no solo sirve para concatenar datos de tipo `{str}` con datos de otros tipos, mediante la coma tambien puedes concatenar dos datos de tipo `{int}` o dos datos de tipo `{bool}` o incluso un dato de tipo `{int}` con otro de tipo `{bool}` como se muestra a continuacion :

In [ ]:
#Concatenacion entre dos datos de tipo entero {int}
print(1 , 1)

1 1

In [ ]:
#Concatenacion entre dos datos de tipo decimal {float}
print(1.5 , 1.3)

1.5 1.3

In [ ]:
#Concatenacion entre dos datos de tipo booleanos {bool}
print(False , True )

False True

In [ ]:
#Concatenacion entre un dato de tipo {bool} y otro de tipo {int}
print(True,10)

True 10

In [ ]:
#Concatenacion entre un dato entero {int} otro de tipo decimal {float}
print(10.5,10)

10.5 10

De esta manera tambien se pueden concatenar la cantidad de datos que desees y del tipo que quieras.

Y se pueden concatenar igualmente por medio de variables.

In [ ]:
print(10,True,"hola",2.5)

10 True hola 2.5

In [ ]:
Variable1 = True

Variable2 = "a"

print(Variable1,Variable2)

True a

#**Tabla de ejemplos de concatenacion**.

In [ ]:
import pandas as pd

data = {
    "Metodo": [
        "Concatenacion con `+` ( Solo funciona con datos de tipo {str})." , "Concatenacion con `+` ( Solo funciona con datos de tipo {str}).", "Concatenacion con `+` ( Solo funciona con datos de tipo {str}).",
        "Concatenacion con `,` Funciona con datos de casi todos los tipos.", "Concatenacion con `,` Funciona con datos de casi todos los tipos.", "Concatenacion con `,` Funciona con datos de casi todos los tipos."
    ],
    "Ejemplo": [
        '"Hola" + "Mundo" = "HolaMundo"',
        '"Nombre" + "Juan" = "NombreJuan"',
        '"Edad: " + "25" = "Edad:25"',
        '"Hola" , "Mundo" = Hola mundo',
        '"Nombre" , "Juan" = Nombre Juan',
        '"Edad:" , "25" = Edad: 25'
    ]
}


df = pd.DataFrame(data)

df

,Metodo,Ejemplo
0,Concatenacion con `+` ( Solo funciona con dato...,"""Hola"" + ""Mundo"" = ""HolaMundo"""
1,Concatenacion con `+` ( Solo funciona con dato...,"""Nombre"" + ""Juan"" = ""NombreJuan"""
2,Concatenacion con `+` ( Solo funciona con dato...,"""Edad: "" + ""25"" = ""Edad:25"""
3,"Concatenacion con `,` Funciona con datos de ca...","""Hola"" , ""Mundo"" = Hola mundo"
4,"Concatenacion con `,` Funciona con datos de ca...","""Nombre"" , ""Juan"" = Nombre Juan"
5,"Concatenacion con `,` Funciona con datos de ca...","""Edad:"" , ""25"" = Edad: 25"

In [ ]:
data = {"Concatenacion con ( , ) " : ["Es compatible con la gran mayor de tipos de datos.","Al usarte este tipo de concatenacion no es necesario agregar espacios ya que se ponen automaticamente."],
        "Concatenacion con ( . )" : ["Solo se puede usar con datos tipo {str}(Texto)","Este tipo de concatenacion no genera espacios entre los elementos asi que en la salida nunca habran espacios."]}

df = pd.DataFrame(data,index=["Versatilidad","Estructura del texto"])

df

,"Concatenacion con ( , )",Concatenacion con ( . )
Versatilidad,Es compatible con la gran mayor de tipos de da...,Solo se puede usar con datos tipo {str}(Texto)
Estructura del texto,Al usarte este tipo de concatenacion no es nec...,Este tipo de concatenacion no genera espacios ...

# La mayor diferencia entre la concatenacion con coma `( , )` y la concatenacion con suma`( + )` es que la concatenacion con suma `(+)` como se ve en la tabla solo se aplica para los datos de tipo `{str}` ya que de otra manera te devolvera la suma de esos dos valores y no los datos concatenados.

***Ejemplos adicionales :***

In [ ]:
#Concatenacion con datos de tipo {str}.

print("Hola"+"Mundo")

In [ ]:
#Suma aritmetica (Datos de tipo numerico).

print(5 + 5)

print(True + False)

In [ ]:
#Concatenacion con datos de tipo numerico.

print(10, 5)

print(True,5)

10 5
True 5

#**Preguntas de concatenacion.**



1.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable = "a"

Variable1 = "zul"

print(Variable+Variable1)

azul


2.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "A"

Variable2 = 4

print(Variable1 , Variable2)

A 4


3.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Tu estatura es de :"

Variable2 = 1.65

print(Variable1 + Variable2)

TypeError: can only concatenate str (not "float") to str

4.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Tu valor booleano es : "

Variable2 = True

print(Variable1 , Variable2)

Tu valor booleano es :  True

5.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = 10

Variable2 = False

print(Variable1 + Variable2)

10

6.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = 10

Variable2 = False

print(Variable1 + Variable2)

7.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Tu valor booleano es : "

Variable2 = False

print(Variable1 + Variable2)

8. `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Tu peso es de "

print(Variable1 , 1.5 + 2)

Tu peso es de  3.5

9. `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Maria tiene"

print(Variable1 , 1.5 , "Hijos")

Maria tiene 1.5 Hijos

10. `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Tu tienes"

Variable2 = "Paletas"

print(Variable1 , 1.5 + Variable2)

11. `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Ho"

Variable2 = "la"

print(Variable1 + Variable2 , True)

Hola 5

12. `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Ho"

Variable2 = "la"

print(Variable1 + Variable2 , 10 + 15)

Hola 25

#**Como se menciono al principio se pueden operar los textos mediante dos operadores aritmeticos, la suma `( + )` como vimos anteriormente, pero el otro operador funcional con cadenas de textos es la multiplicacion `( * )`.**

En este contexto, para que funcione correctamente necesitamos un dato tipo `{str}` y ese se multiplicara a un dato entero `{int}`, esto hara que nuestro dato de tipo `{str}` se escriba en la terminal la misma cantidad de veces que indique nuestro dato entero `{int}`

***Ejemplo :***

In [ ]:
DatoTipoTexto = "Hola"

DatoTipoEntero = 4

print(DatoTipoTexto * DatoTipoEntero)

HolaHolaHolaHola

En el anterior ejemplo vimos que el texto "hola" se repitio la cantidad de veces que el dato entero indico "4" veces.

Es importante recordar que si un dato numerico ( `{int}` , `{float}` , `{bool}` ) se multiplica con otro dato numerico esto dara el producto entre esos numeros, pero si el dato numerico multiplica a un dato de tipo texto `{str}` este se aparecera en la terminal la misma cantidad de veces que indique el numero.

In [ ]:
#Producto entre dos datos tipo numericos

VariableNumerica1 = 10 # Int

VariableNumerica2 = 2.5 # Float

print(VariableNumerica1 * VariableNumerica2 )

25.0

In [ ]:
#Producto entre un dato tipo numerico otro de tipo texto

VariableDeTipoTexto = "Tamal"

VariableNumerica1 = 5

print(VariableDeTipoTexto * VariableNumerica1)

TamalTamalTamalTamalTamal

In [ ]:
#Producto entre un dato de tipo numerico y otro de tipo texto.

VariableDeTipoTexto = "Jamon"

VariableNumerica = True #Recordemos que True posee un valor numerico de 1 y False posee un valor numerico de 0

print(VariableDeTipoTexto * VariableNumerica)

Jamon

#**Preguntas de concatenacion y multiplicacion.**

1.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
VariableDeTexto1 = "Arroz"

VariableNumerica1 = 2

print(VariableDeTexto1 * VariableNumerica1 )

ArrozArroz

2.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
VariableDeTexto1 = "Torta"

VariableDeTexto2 = "De jamon"

print(VariableDeTexto1 + VariableDeTexto2 * 3)

TortaDe jamonDe jamonDe jamon

3.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
VariableDeTexto1 = "En tu cuenta tienes :"

VariableDeTexto2 = "Pesos"

VariableNumerica1 = 1

print(VariableDeTexto1, VariableNumerica1 * 100 , VariableDeTexto2)

En tu cuenta tienes : 100 Pesos

4.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Hola"

Variable2 = "4"

print(Variable1 * Variable2)

TypeError: can't multiply sequence by non-int of type 'str'

5.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "Texto"

Variable2 = "TextoA"

Variable3 = 2

Variable4 = 5

print(Variable3 + Variable4, Variable1 + Variable2 * Variable3)

7 TextoTextoATextoA

6.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "TextoA"

Variable2 = "TextoB"

Variable3 = "TextoC"

Variable4 = 2

Variable6 = 1

print(Variable1,Variable2, Variable4 + Variable6, Variable3)

TextoA TextoB 3 TextoC

7.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "TextoA"

Variable2 = 3

Variable3 = "TextoC"

Variable4 = 2

Variable6 = "TextoD"

print(Variable1,Variable2, Variable4 + Variable6 + Variable3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

8.   `El siguiente ejemplo retornara error o se ejecutara correctamente, y si se ejecuta, que retornara?`

In [ ]:
Variable1 = "TextoA"

Variable2 = "TextoB"

Variable3 = 3

Variable4 = 2

Variable5 = 2

print(Variable3 * Variable4, Variable1 + Variable2 * Variable5)

6 TextoATextoBTextoB

#**Problemas asociados a operadores aritmeticos aplicados a textos y concatenacion.**