<a href="https://colab.research.google.com/github/ElCbolla/CursoDeProgramacionPython/blob/main/(4)M%C3%B3dulo_1_transmutacion_de_tipo_de_dato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Una de las mayores cualidades de python es su tipado dinamico, esto quiere decir que los tipos de las variables se determinan en el tiempo de ejecucion, Entonces nos permite cambiar el tipo de una variable las veces que queramos a diferencia de otros idiomas como Java o C++ que poseen tipado estatico, esto significa que una vez defines el tipo de dato de una variable este ya no se puede volver a cambiar dentro del codigo.**

# **Alguno de las funciones que tenemos para poder cambiar el tipo de dato de nuestras variables son los siguientes : `int()` , `float()` , `str()`**

*Ejemplo :*



```
VariableNumerica = 1

print(type(VariableNumerica))


```


```
Salida ->> El tipo de nuestra variable es {int}
```


---


Pero si aplicaramos la funcion `str(NombreDeLaVariable)` sucederia lo siguiente :

```
VariableNumerica = str(1)

print(type(VariableNumerica))


```


```
Salida ->> El tipo de nuestra variable es {str} y nuestro valor (1) pasaria a
ser ("1") con las comillas respectivas de una variable tipo {str}.
```

**Como vimos en temas anteriores, la concatenacion por medio de un `"+"` solo se aplica para datos de tipo `{str}` Pero que pasaria si tratamos de operar una variable de tipo `{str}` con otra de tipo `{int}` pero en la variable numerica aplicamos el metodo `str()`**

In [3]:
VariableDeTexto = "Hola"

VariableNumerica = 10

print(VariableDeTexto + str(VariableNumerica) ) #Gracias al metodo str() y el nombre de nuestra variable numerica dentro de los parentesis pasa a ser tipo {str} lo que permite que se pueda concatenar a un texto mediante un ( + )

Hola10

**Imprime el tipo de la variable numerica sin usar la funcion `str()`**

In [6]:
print(type(VariableNumerica))

<class 'int'>



---
**Imprime el tipo de la variable despues de aplicar la funcion `str()`**

In [7]:
print(type(str(VariableNumerica)))

<class 'str'>

**Recordemos que existen otros metodos para cambiar al tipo de dato que deseemos.**



*   `str()` <-Para cambiar a dato texto.

*   `int()` <- Para cambiar a dato entero.

*   `float()` <- Para cambiar a dato decimal.

**Esos son las funciones principales que debes recordar, si bien existe un metodo para cada tipo de dato, los que se usan el 90% de las veces son los puestos anteriormente.**



---


***Estructura del metodo***:


Primero escribe la abreviacion del tipo de dato al que deseas otorgarle a tu variable `( str , int , float )`.

```
#Ejemplo con int

int

```
A continuacion agrega unos parentesis enfrente del tipo que elegiste.


```
int()
```

**Finalmente dentro de los parentesis agrega el nombre de tu variable ya previamente definida.**



```
NombreDeLaVariable = "10" <-Tipo str

int(NombreDeLaVariable)

```
De esta manera tu variable `"10"` pasara a ser una variable de tipo entera con el valor de `(10)`


Aplicando la misma estructura podemos cambiar el dato de nuestras variables al tipo que queramos.

**Al momento de cambiar el tipo de dato de nuestras variables debemos tener algunos cuidados, por ejemplo, si cambiamos una variable de tipo texto a una de tipo entero mediante la funcion `int()` vamos a recibir el siguiente error :**

In [8]:
VariableDeTexto = "Texto"

print( int(VariableDeTexto) )

ValueError: invalid literal for int() with base 10: 'Texto'

**Esto sucede por que los dato `{int}` deben ser explicitamente valores numericos, por lo que un texto no puede tomar un valor entero `{int}` ni decimal `{float}`**

**Esta restriccion solo aplica para los datos de texto, ya que todos los tipos de datos comunes pueden ser texto pero los textos no pueden ser de todos los tipos de datos.**

---
Valor decimal `{float}` a texto` {str}` :

In [9]:
ValorDecimal = 1.5

print( str(ValorDecimal) )

1.5

---
Valor de texto `{str}` a decimal `{float}` (Error) :

In [11]:
ValorDeTexto = "Texto"

print( float(ValorDeTexto) )

ValueError: could not convert string to float: 'Texto'

---
Valor entero `{int}` a texto `{str} `:

In [12]:
ValorEntero = 10

print( str(ValorEntero) )

10



---


Valor de Texto `{str}` a Entero `{int} `:

In [13]:
ValorDeTexto = "Texto"

print( int(ValorDeTexto) )

ValueError: invalid literal for int() with base 10: 'Texto'

Con esto podemos ver que los valores enteros `{int}` y decimales `{float`} pueden ser tipo texto `{str}` pero los textos `{str}` no pueden ser decimales `{float}` ni enteros `{int}`, la unica manera de evitar esta restriccion es que el valor almacenado como `{str}` sea un numero.


---


***Ejemplo-1 :***

* Valor de texto numerico a entero.

In [14]:
ValorDeTextoNumerico = "10"

print(int(ValorDeTextoNumerico))

10



---
***Ejemplo-2 :***

* Valor de texto numerico a decimal.

In [15]:
ValorDeTextoNumerico = "10.5"

print(float(ValorDeTextoNumerico))

10.5

**En los casos anteriores es posible ya que el dato almacenado como texto es de valor numerico.**

* Es importante saber que estas restricciones no existen en el contexto de cambiar un dato tipo `{int}` a un dato tipo `{float}` y viceversa, ya que ambos son valores numericos.

---
***Ejemplo-1 :***

* Valor Entero `{int}` a valor Decimal `{float}`.

In [16]:
ValorEntero = 10

print(float(ValorEntero)) #El valor entero aparece con un decimal ( 0 ).

10.0



---
***Ejemplo-2 :***
* Valor Decimal `{float}` a valor entero `{int}`.

In [17]:
ValorEntero = 2.5

print(int(ValorEntero)) #El decimal aparece como entero (sin decimales.).

2



---
#**Preguntas de transmutacion de tipos de dato.**

* `Al final del codigo, que tipo de dato almacena la variable.`

In [19]:
Variable = "10"

print( type(float(Variable) ) )

<class 'float'>



---
**Problema-1**
* `Al final del codigo, que tipo de dato almacena la variable.`

In [20]:
Variable = 10

print( type( str(Variable)) )

<class 'str'>



---
**Problema-2**
* `Al final del codigo, que tipo de dato almacena la variable.`

In [ ]:
Variable = 2

print( type( float(Variable) ) )

---
**Problema-3**
* `Al final del codigo, que tipo de dato almacena la variable.`

In [21]:
Variable = 2.5

print( type( str(Variable) ) )

<class 'str'>

---
**Problema-4**
1. `Al inicio del codigo, que tipo de dato almacena la variable.`
2. `Al final del codigo, que tipo de dato almacena la variable.`

In [ ]:
Variable = "10"

print(type(str(Variable)))

---
**Problema-5**
1. `Al inicio del codigo, que tipo de dato almacena la variable.`
2. `Al final del codigo, que tipo de dato almacena la variable.`

In [ ]:
Variable = 10

print(type(float(Variable)))

---
**Problema-6**
1. `Al inicio del codigo, que tipo de dato almacena la variable.`
2. `Al final del codigo, que tipo de dato almacena la variable.`

In [ ]:
Variable = 1.5

print(type(int(Variable)))

---
**Problema-7**
1. `Al inicio del codigo, que tipo de dato almacena la variable.`
2. `Al final del codigo, que tipo de dato almacena la variable.`

In [ ]:
Variable = 6

print(type(str(Variable)))

---
**Problema-8**
1. `Al inicio del codigo, que tipo de dato almacena la variable.`
2. `Al final del codigo, que tipo de dato almacena la variable.`

In [ ]:
Variable = 2.2

print(type(str(Variable)))

---
**Problema-9**

Analiza el siguiente codigo y asegurate si no generara un error, y si crees que no generara un error responde lo siguiente :
1. `Al inicio del codigo, que tipo de dato almacena la {Variable1}.`
2. `Al final del codigo, que tipo de dato almacena la {Variable1}.`
3. `Al inicio del codigo, que tipo de dato almacena la {Variable2}.`
4. `Al final del codigo, que tipo de dato almacena la {Variable2}.`
5. `Que texto retornara.`

In [23]:
Variable1 = "Hola"

Variable2 = 2

print(Variable1 + str(Variable2))

Hola2

---
**Problema-10**

Analiza el siguiente codigo y asegurate si no generara un error, y si crees que no generara un error responde lo siguiente :
1. `Al inicio del codigo, que tipo de dato almacena la {Variable1}.`
2. `Al final del codigo, que tipo de dato almacena la {Variable1}.`
3. `Al inicio del codigo, que tipo de dato almacena la {Variable2}.`
4. `Al final del codigo, que tipo de dato almacena la {Variable2}.`
5. `Que texto retornara.`

In [24]:
Variable1 = "Hola"

Variable2 = "2"

print(Variable1 * int(Variable2))

HolaHola

---
**Problema-11**

Analiza el siguiente codigo y asegurate si no generara un error, y si crees que no generara un error responde lo siguiente :
1. `Al inicio del codigo, que tipo de dato almacena la {Variable1}.`
2. `Al final del codigo, que tipo de dato almacena la {Variable1}.`
3. `Al inicio del codigo, que tipo de dato almacena la {Variable2}.`
4. `Al final del codigo, que tipo de dato almacena la {Variable2}.`
5. `Que texto retornara.`

In [25]:
Variable1 = "Hola"

Variable2 = 2

print(Variable1 * str(Variable2))

TypeError: can't multiply sequence by non-int of type 'str'

---
**Problema-12**

Analiza el siguiente codigo y asegurate si no generara un error, y si crees que no generara un error responde lo siguiente :
1. `Al inicio del codigo, que tipo de dato almacena la {Variable1}.`
2. `Al final del codigo, que tipo de dato almacena la {Variable1}.`
3. `Al inicio del codigo, que tipo de dato almacena la {Variable2}.`
4. `Al final del codigo, que tipo de dato almacena la {Variable2}.`
5. `Que texto retornara.`

In [27]:
Variable1 = 10

Variable2 = "10"

print(int(Variable1),str(Variable2))

10 10

---
**Problema-13**

Analiza el siguiente codigo y asegurate si no generara un error, y si crees que no generara un error responde lo siguiente :
1. `Al inicio del codigo, que tipo de dato almacena la {Variable1}.`
2. `Al final del codigo, que tipo de dato almacena la {Variable1}.`
3. `Al inicio del codigo, que tipo de dato almacena la {Variable2}.`
4. `Al final del codigo, que tipo de dato almacena la {Variable2}.`
5. `Que texto retornara.`

In [28]:
Variable1 = 10

Variable2 = 2.5

print(str(Variable1),str(Variable2))

10 2.5

#**Problemas asociados a transmutadores de tipos.**