<a href="https://colab.research.google.com/github/ElCbolla/CursoDeProgramacionPython/blob/main/(4_5)Modulo_1_Operadores_de_asignaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operadores de asignacion en python.**

**Los operadores de asignacion seran nuestra manera para operar y actualizar los valores de nuestras variables.**

**Estos operadores son muy utiles cuando necesitamos actualizar constantemente el valor de nuestra variable numerica respecto a su valor inicial.**

* En pseint esta asignacion se daba de la siguiente manera :


![image.png]()

* **En python la asignacion se da la siguiente manera :**

* Operador para sumar `+=`

* Operador para restar `-=`

* Operador para multiplicar `*=`

* Operador para dividir `/=`

* Operador para aplicar una potencia `**=`

***Ejemplo del uso de asignadores :***

Imaginate que tenemos una variable numerica cuyo valor es unicamente un valor entero :

In [2]:
VariableNumerica = 1

En este caso estamos usando un asignador convencional `( = )` cuya unica utilidad es darle un valor a nuestras variables, este asignador solo le otorga el valor `{int}` de `( 1 )` , por lo que este valor siempre sera `1`.

In [3]:
print(VariableNumerica + 1) # En esta linea le sumamos 1 a nuestra variable numerica por lo que retornaria 2.

2

**En la anterior linea de codigo le estamos sumando `1` a nuestra `VariableNumerica` por lo que su valor pasa a ser `2`, pero es importante saber que ese valor de `2` solo lo posee en esa linea en especifico.**

In [4]:
print(VariableNumerica + 1) #Linea donde se le suma 1 a nuestra variable

print(VariableNumerica) #Volvemos a escribir el valor de nuestra variable pero ahora sin sumarle y vemos que vuelve a ser 1.

2
1

**Con ese ejemplo podemos concluir que cuando operamos nuestra variable sin algun asignador, el valor que adapta es temporal.**

Si queremos que al operar una variable su valor sea permanente debemos utilizar alguno de los operadores de asignacion `( += , -= , *= , /= )`

Y la estrucuta que debemos seguir es la siguiente :

1. **Primero definimos la variable que deseamos actualizar de la manera convencional.**
```
NombreDeLaVariable = 1
```
2. Despues en otra linea diferente llamamos a nuestra variable y aplicamos alguno de los asignadores `( += , -= , *= , /= )`.

```
1- NombreDeLaVariable = 1

2- NombreDeLaVariable += 1
```
* Ya con esto cuando el programa pase por la linea 2 le sumara 1 a nuestra variable `{NombreDeLaVariable}` y el valor que tome sera permanente y se actualizara constantemente.

In [20]:
NombreDeLaVariable = 1

In [53]:
NombreDeLaVariable += 1

print(NombreDeLaVariable)

14

**De esta manera vemos que el valor de la variable se actualiza cada vez que corremos el codigo.**

* **Importante : Cada vez que corramos la primera linea, donde establecemos el valor de nuestra variable en `1`, el valor de nuestra variable nuevamente pasara a ser `1`.**



---
***Ejemplo con resta :***

* Asignador resta : `{ -= }`

In [57]:
NombreDeLaVariable -= 1

print(NombreDeLaVariable)

1.5


---
***Ejemplo con multiplicacion :***

* Asignador multiplicacion : `{ *= }`

In [58]:
NombreDeLaVariable *= 2

print(NombreDeLaVariable)

3.0


---
***Ejemplo con division :***

* Asignador division : `{ /= }`

In [59]:
NombreDeLaVariable /= 2

print(NombreDeLaVariable)

1.5


---
***Ejemplo con potencia :***

* Asignador de potencia : `{ **= }`

In [62]:
NombreDeLaVariable **= 2

print(NombreDeLaVariable)

25.62890625



---
**Restablecer el valor de nuestra variable a 1 :**

In [63]:
NombreDeLaVariable = 1

print(NombreDeLaVariable)

1

**Con los ejemplos anteriores pudimos notar que los operadores de asignacion toman el valor actual de la variable, y actualizan el valor dependiendo del operador que apliques.**

# **Preguntas de asignadores.**



---
***Pregunta-1 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` antes de la asignacion.
2.   El valor de `{Variable}` despues de la asignacion.

In [66]:
Variable = 1

print(Variable) #Antes de asignar.

Variable -= 2

print(Variable) #Despues de asignar.

1
-1

---
***Pregunta-2 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` antes de la asignacion.
2.   El valor de `{Variable}` despues de la asignacion.

In [67]:
Variable = 5

print(Variable) #Antes de asignar.

Variable **= 2

print(Variable) #Despues de asignar.

5
25

---
***Pregunta-3 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` antes de la asignacion.
2.   El valor de `{Variable}` despues de la asignacion.

In [68]:
Variable = 3 * 2

print(Variable) #Antes de asignar.

Variable /=  3

print(Variable) #Despues de asignar.

6
2.0

---
***Pregunta-4 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` antes de la asignacion.
2.   El valor de `{Variable}` despues de la asignacion.

In [69]:
Variable = 6/2

print(Variable) #Antes de asignar.

Variable -=  3 * 2

print(Variable) #Despues de asignar.

3.0
-3.0

---
***Pregunta-5 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` antes de la asignacion.
2.   El valor de `{Variable}` despues de la asignacion.

In [72]:
Variable = 1 + 4/(1+1)

print(Variable) #Antes de asignar.

Variable -=  2**2 - 1

print(Variable) #Despues de asignar.

3.0
0.0

---
***Pregunta-6 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` antes de la asignacion.
2.   El valor de `{Variable}` despues de la asignacion.

In [75]:
Variable = 1 + (2*3)/3 + 1

print(Variable) #Antes de asignar.

Variable +=  2**(1+2)

print(Variable) #Despues de asignar.

4.0
12.0

---
***Pregunta-7 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` Antes de la primera asignacion.
2.   El valor de `{Variable}` En la primera asignacion.
3.   El valor de `{Variable}` En la segunda asignacion.

In [77]:
Variable = 2

print(Variable) #Antes de la primera asignacion.

Variable +=  2

print(Variable) #Primera asignacion.

Variable *= 2

print(Variable) #Segunda asignacion

2
4
8

---
***Pregunta-8 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` Antes de la primera asignacion.
2.   El valor de `{Variable}` En la primera asignacion.
3.   El valor de `{Variable}` En la segunda asignacion.

In [78]:
Variable = 4

print(Variable) #Antes de la primera asignacion.

Variable /=  2

print(Variable) #Primera asignacion.

Variable **= 3

print(Variable) #Segunda asignacion

4
2.0
8.0

---
***Pregunta-9 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` Antes de la primera asignacion.
2.   El valor de `{Variable}` En la primera asignacion.
3.   El valor de `{Variable}` En la segunda asignacion.

In [83]:
Variable = 2**(2+1) - 4

print(Variable) #Antes de la primera asignacion.

Variable /=  2**(2+1)/2

print(Variable) #Primera asignacion.

Variable -= 1

print(Variable) #Segunda asignacion

4
1.0
0.0

---
***Pregunta-10 :***

* **Analiza el codigo y menciona lo siguiente :**

1.   El valor de `{Variable}` Antes de la primera asignacion.
2.   El valor de `{Variable}` En la primera asignacion.
3.   El valor de `{Variable}` En la segunda asignacion.

In [88]:
Variable = (2*3)/(1*2+1-1) + 2

print(Variable) #Antes de la primera asignacion.

Variable *=  (2*1)**(1+1)/(3-1)

print(Variable) #Primera asignacion.

Variable /= (2*2)**2/(2*2**2)

print(Variable) #Segunda asignacion

5.0
10.0
5.0