<a href="https://colab.research.google.com/github/ElCbolla/CursoDeProgramacionPython/blob/main/(5)Modulo_1_Operadores_De_comparacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Comparadores en python**

Los comparadores en python sirven para comparar dos variables o tipos de datos y comprobar si existe alguna relacion entre ambos datos.

* **Los comparadores en python son los siguientes :**

* Comparador de igualdad `( == )`

 1. `Este comparador comprueba si dos variables o datos almacenan el mismo valor.`

 * El siguiente codigo mediante un comparador de igualdad verifica si el primer dato ingresado `(5)` es el mismo que el segundo dato ingresado, tambien `(5)`

In [ ]:
print(5 == 5)

True

* Esto retorna el valor `bool` de `True` ya que la condicion de igualdad si se cumple, ya que efectivamente, `5` es igual a `5`

* Pero si de lo contrario metemos dos valores que no coinciden y los comparamos mediante un comparador de igualdad `( == )` :

In [ ]:
print(3 == 5)

False

* Esto claramente retornara el valor bool de False ya que el primer parametro `(3)` no es el mismo que `(5)`



---
Los datos tipos numericos no son los unicos que se pueden comparar, tambien podemos comparar dos cadenas de texto `{str}` y ver si estas coinciden; Como se muestra a continuacion :

In [ ]:
print("Hola"=="Hola")

True

En este caso retorna el valor `bool` de `True`, ya que ambas cadenas contienen `"Hola"` y se cumple la igualdad.

* Pero si lo contrario ingresamos dos cadenas de texto que no coinciden :

In [ ]:
print("Queso"=="Azul")

False

* Esto claramente retornara `False` por no cumplir la condicion de igualdad que establecemos.



---
Bajo el contexto de la comparacion de igualdad no hay ningun tipo de restricciones, es decir, se puede comprobar la igualdad de dos datos de cualquier tipo y esto no generara ningun error.

* Comparacion de un dato tipo `{int}` con uno de tipo `{str}`.

In [ ]:
print(5=="5")

False

Esto simplemente retornara `False` pero no generara ningun error.


---

* Comparacion de un dato tipo `{float}` con un tipo `{bool}`

In [ ]:
print(2.5==False)

False

Nuevamente se retorna `False` pero no causa ningun error.


---

* Comparacion de un tipo `{str}` con un tipo `{bool}`

In [ ]:
print("Texto"==True)

False

Y vemos que sigue sin haber ningun error, esto demuestra que se puede verificar la igualdad de dos datos de cualquier tipo sin generar un error.


---

* Comparador de Diferencia `( != )`

1. `Este comparador verifica si el primer valor es diferente al segundo.`

* El siguiente codigo mediante un comparador de Diferencia verifica si el primer dato ingreso es diferente al segundo.

In [ ]:
print(5 != 1)

True

* Esto retornara `True` ya que el primer parametro `(5)` es diferente al segundo parametro `(1)`


---

Pero si de lo contrario, ambos parametros ingresados son iguales :

In [ ]:
print(5 != 5)

False

Esto retornara `False` ya que `5` es igual a `5` y no existe una diferencia.


---

Con el comparador de diferencia tampoco existe restricciones en cuanto tipo de datos, esto significa que puedes evaluar la diferencia entre dos datos de cualquier tipo.

* Diferencia entre un numero entero y un texto.

In [ ]:
print(5!="Hola")

True

Esto retorna `True` ya que el dato entero efectivamente no es lo mismo que la cadena de texto.


---

* Diferencia entre un numero entero y un flotante.

In [ ]:
print(5!=2.0)

True

Esto nuevamente retorna `True` por que el dato Entero sigue sin ser el mismo que el flotante.


---

* Diferencia entre un numero flotante y un valor booleano.

In [ ]:
print(1.0!=True)

False

En este caso retorna `False` ya que el valor `True `almacena un valor numerico de `1` y se busca la diferencia con respecto a `1.0`, por lo que son el mismo numero.

Con esto podemos darnos cuenta que podemos evaluar la diferencia entre dos datos de cualquier tipo.



---


* Comparador Mayor que `( > )`

1. `Este comparador verifica si el primer valor es mayor que el segundo.`

 * El siguiente codigo mediante un comparador de Mayor que verifica si el primer dato ingresado `(8)` es mayor que el segundo dato ingresado `(3)`.

In [ ]:
print(8>3)

True

Esto retornara `True` ya que la condicion se cumple, efectivamente `8` es mayor que `3`

* Pero si de lo contrario ingresamos el `3` como primer parametro y el `8` como segundo parametro vamos a obtener lo siguiente.

In [ ]:
print(3>5)

False

Claramente se retorna `False` ya que la condicion no se cumple, `3` no es mayor que `5`.



---


Bajo este contexto si existe una restriccion, no podemos verificar si un dato tipo `{str}` es mayor que un dato `({int} , {float} , {bool})`, solo podemos aplicar el Mayor que, en dos datos numericos.

In [ ]:
print("A" > 5)

TypeError: '>' not supported between instances of 'str' and 'int'

Como vemos en el anterior ejemplo, se genera un error ya que estamos tratando de verificar si un dato de tipo `{str}` es mayor que uno de tipo `{int} `, cosa que es imposible ya que `str` no contiene un valor numerico.


---

* Comparador Mayor que , con datos tipo numericos.

In [ ]:
print(True > 5)

False

In [ ]:
print(True > False)

True

In [ ]:
print(5 > 2.0 )

True

In [ ]:
print(0.0 > False)

False

De manera muy similar podemos verificar si un valor es Menor, que mediante el comparador `( < )`



---
 * El siguiente codigo mediante un comparador de Menor que verifica si el primer dato ingresado `(6)` es menor que el segundo dato ingresado `(8)`.

In [ ]:
print( 6 < 8)

True

Esto retorna `True`, ya que efectivamente `6` es menor que `8`.



---

* Mas ejemplo de menor que.

In [ ]:
print( 8 < 3 )

In [ ]:
print( 2 < 4.2)

True

In [ ]:
print( False < 5 )

True

In [ ]:
print(12 < True )

False

In [ ]:
print(1.0 < True)

False

In [ ]:
print(False < True)

True

En el caso de Mayor que `( > )` y Menor que `( < )`, debemos tener cuidado de no comparar datos numericos con datos tipo texto ya que esto causara un error en ambos casos.

***Ejemplos :***

In [ ]:
print(10>"a")

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
print(5<"Azul")

* Ambos causan errores por comparar datos tipo numericos con datos tipo texto.

* Al igual que podemos hallar si un numero es mayor o menor que otro tambien podemos evaluar si un numero es mayor o igual, o menor o igual mediante los siguientes comparadores :

* Mayor o igual que `( >= )`

* Menor o igual que `( <= ) `

De misma manera podemos utilizar estos comparadores para evaluar dos tipos de datos teniendo cuidado de no mezclar datos numericos con datos de texto.

***Ejemplo-1 :***

In [1]:
print(5>=5)

True

El anterior ejemplo retornara `True`, ya que el primer parametro no es mayor pero si igual al segundo parametro.

* Pero si de lo contrario el primer parametro fuera mayor al segundo entonces :

In [2]:
print(10>=5)

True

* Tambien retornara `True` ya que se sigue cumpliendo con la condicion de ser Mayor o igual que.

De esta misma manera funciona el Menor o igual que  :

In [3]:
print(3<=3)

True

Vuelve a retornar `True`, ya que el segundo parametro es igual al primero, pero si el primer parametro fuera menor al segundo seguiria retornando `True`.

In [4]:
print(1<=3)

True

# **Preguntas de comparadores.**

* `¿Que retornara el siguiente codigo?`

In [5]:
Variable1 = 5

Variable2 = 2 + 3

print(Variable1>=Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [6]:
Variable1 = 2**2

Variable2 = 2 + 3

print(Variable1>=Variable2)

False



---

* `¿Que retornara el siguiente codigo?`

In [8]:
Variable1 = 2**0

Variable2 = (2+2)/(2*2)

print(Variable1!=Variable2)

False



---

* `¿Que retornara el siguiente codigo?`

In [9]:
Variable1 = 2

Variable2 = (2+2)**Variable1

print(Variable1<=Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [10]:
Variable1 = 2**(2+1)-3

Variable2 = 2*2+1

print(Variable1==Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [16]:
Variable1 = "Texto"

Variable2 = "Texto1"

Variable3 = "1"

print((Variable1+Variable3)!=Variable2)

False



---

* `¿Que retornara el siguiente codigo?`

In [19]:
Variable1 = 1

Variable2 = "2"



print((Variable1+1)==Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [20]:
Variable1 = 1

Variable2 = int("2")

print(Variable1>=Variable2)

False



---

* `¿Que retornara el siguiente codigo?`

In [22]:
Variable1 = 12

Variable2 = "1" + "2"

print(Variable1>=int(Variable2))

True



---

* `¿Que retornara el siguiente codigo?`

In [23]:
Variable1 = "Texto"

print(Variable1==5)

False



---

* `¿Que retornara el siguiente codigo?`

In [24]:
Variable1 = 2

Variable1 **= 2

Variable2 = 6

Variable2 -= 2

print(Variable1<=Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [26]:
Variable1 = int("4")

Variable1 /= 2

Variable2 = 2

Variable2 *= 2

print(str(Variable1)<=Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [27]:
Variable1 = 16

Variable2 -= 2**(2+1)

Variable2 = 5/(2**2+1)

Variable2 += 7

print(Variable1!=Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [ ]:
Variable1 = 16

Variable2 -= 2**(2+1)

Variable2 = 5/(2**2+1)

Variable2 += 7

print(Variable1!=Variable2)



---

* `¿Que retornara el siguiente codigo?`

In [34]:
Variable1 = 17

Variable1 -= 2**(2+2)

Variable2 = 5/(2**2+1)

Variable2 += 1

Variable3 = 3

Variable2 -= 2-1

print(Variable1==Variable2)

True



---

* `¿Que retornara el siguiente codigo?`

In [33]:
A = 20

A += 3 * (2**2)

B = 50 / (2**3)

B -= 4

A -= B

print(A == B)

False

---

* `¿Que retornara el siguiente codigo?`

In [32]:
X = 15

X -= 2**(1+2)

Y = 8 / (2 + 2)

Y *= 3

X += Y

print(X != Y)

True

# **Programas asociados a comparadores.**