<a href="https://colab.research.google.com/github/ElCbolla/CursoDeProgramacionPython/blob/main/Dia(5)problemas_extra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Programa 1**

Crea un programa donde:

1. Se definan cuatro variables: `Texto1`, `Texto2`, `Numero1`, `Numero2`.
2. Las variables `Texto1` y `Texto2` deben ser de tipo **`str`**.
3. Las variables `Numero1` y `Numero2` deben ser de tipo **`float`**.
4. Usa un operador de asignacion (`+=`) para sumar el valor de `Numero2` a `Numero1`.
5. Usa un operador de asignacion (`*=`) para multiplicar el resultado por `2`.
6. Concatena `Texto1` y `Texto2` usando `(,)` y muestra los resultados con `print()`.

In [ ]:
#Programa-1


## **Programa 2**

Crea un programa donde:

1. Se definan tres variables: `Texto`, `Numero1`, `Numero2`.
2. La variable `Texto` debe ser de tipo `str` y las otras dos de tipo `int`.
3. Usa un operador de asignacion (`-=`) para restar el valor de `Numero2` a `Numero1`.
4. Usa un operador de asignacion (`*=`) para multiplicar el resultado por `3`.
5. Concatena la cadena `"Resultado:"` con `Texto` usando `(,)` y muestra los resultados con `print()`.

In [ ]:
#Programa-2

## **Programa 3**
Crea un programa donde:

1. Se definan tres variables: `Cadena1`, `NumeroA`, `NumeroB`.
2. La variable `Cadena1` debe ser de tipo `str` y las otras dos de tipo `int`.
3. Usa un operador de asignación (`+=`) para sumar el valor de `NumeroB` a `NumeroA`.
4. Usa un operador de asignacion (`/=`) para dividir el resultado por `2`.
5. Concatena la cadena `"Resultado Final:"` con `Cadena1` y `NumeroA` y `NumeroB` usando `(,)` y muestra los resultados con `print()`.

In [ ]:
#Programa-3



---


## **Programa 4**
Crea un programa donde:

1. Se definan tres variables: `Mensaje`, `Valor1`, `Valor2`.
2. La variable `Mensaje` debe ser de tipo `str` y las otras dos de tipo `int`.
3. Usa un operador de asignacion (`**=`) para elevar `Valor1` al cuadrado.
4. Usa un operador de asignacion (`-=`) para restar `5` del valor de `Valor2`.
5. Concatena la cadena `"Calculo:"` con `Mensaje` y `Valor1` y `Valor2` usando `(,)` y muestra los resultados con `print()`.

In [ ]:
#Programa-4



---
## **Programa 5**
Crea un programa donde:

1. Se definan tres variables: `Titulo`, `Dato1`, `Dato2`.
2. La variable `Titulo` debe ser de tipo `str` y las otras dos de tipo `float`.
3. Usa un operador de asignacion (`*=`) para multiplicar `Dato1` por `4`.
4. Usa un operador de asignacion (`+=`) para sumar `10` al valor de `Dato2`.
5. Concatena la cadena `"Resultado obtenido:"` con `Titulo` y `Dato1` y `Dato2` usando `(,)` y muestra los resultados con `print()`.

In [ ]:
#Programa-5

## **Programa 6**
Crea un programa donde:

1. Se definan tres variables: `Texto`, `Numero1`, `Numero2`.
2. La variable `Texto` debe ser de tipo `str` y las otras dos de tipo `int`.
3. Usa un operador de asignacion (`+=`) para sumar el valor de `Numero1` convertido a `float` a `Numero2`.
4. Concatena `Numero2` convertido a `str` con `"Suma total:"` usando `( + )`.
5. Muestra los resultados con `print()`.

In [ ]:
#Programa-6

## **Programa 7**
Crea un programa donde:

1. Se definan tres variables: `Mensaje`, `Valor1`, `Valor2`.
2. La variable `Mensaje` debe ser de tipo `str` y las otras dos de tipo `float`.
3. Usa un operador de asignacion (`*=`) para multiplicar `Valor1` por `Valor2` convertido en `float`.
4. Convierte el resultado final a `str` y concatenalo con `"Multiplicación:"` usando `( + )`.
5. Muestra los resultados con `print()`.

In [ ]:
#Programa-7



---



## **Programa 8**


Crea un programa donde:

1. Se definan tres variables: `Cadena`, `NumeroA`, `NumeroB`.
2. La variable `Cadena` debe ser de tipo `str` y las otras dos de tipo `float`.
3. Usa un operador de asignacion (`-=`) para restar el valor de `NumeroB` convertido en entero a `NumeroA`.
4. Convierte el resultado a tipo `str` y concatenalo con `"Resta final:"` usando `( + )`.
5. Muestra los resultados con `print()`.

In [ ]:
#Programa-8

---

## **Programa 9**
Crea un programa donde:

1. Se definan tres variables: `Titulo`, `Dato1`, `Dato2`.
2. La variable `Titulo` debe ser de tipo `str` y las otras dos de tipo `int`.
3. Usa un operador de asignacion (`/=`) para dividir `Dato1` por `Dato2 - 2 * 3` convertido en decimal.
4. Convierte el resultado a `str` al momento y concatenalo con `"Division:"` usando `(+)`.
5. Muestra los resultados con `print()`.

In [ ]:
#Programa-9



---

## **Programa 10**
Crea un programa donde:

1. Se definan tres variables: `Etiqueta`, `ValorX`, `ValorY`.
2. La variable `Etiqueta` debe ser de tipo `str` y las otras dos de tipo `int`.
3. Usa un operador de asignacion (`**=`) para elevar `ValorX` a `ValorY + 2` convertido en decimal.
4. Convierte el resultado a tipo `str` y concatenalo con `"Potencia:"` usando `(+)`.
5. Muestra los resultados con `print()`.

In [ ]:
#Programa-10